.float-left {float: left;}
.float-right {float: right;}
.clear {clear: both;}

.inline-block-align > * {
	display: inline-block;
	vertical-align: middle;
}

.container {
	max-width: $container-width;
}
// .page-header {
// 	border: none;
// 	// padding: 50px;
// }
.header {
	padding: 30px 0;
}
.nav {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	.nav-item-active {
		border-top: solid 5px $color-brand;
	}
	li {
		border-top: solid 5px transparent;
		border-bottom: solid 5px transparent;
		&:hover {
			border-bottom: solid 5px $color-brand;
			border-top: solid 5px $color-brand;
			a {
				background-color: #fff;
			}
		}
	}
	
	a {
		color: black;
		&:hover {
			color: $color-brand;
			background-color: red;
		}
	}
	.dropdown:hover {
		ul {
			display: block;
		}
		li {
			border: none;
		}
		a {
			background-color: #fff;
		}		
		.dropdown-menu {
			border-bottom: solid 5px $color-brand;
		}
	}
	.dropdown-menu {
		margin-top: -5px;
		margin-left: -1px;
		text-transform: none;
		li {
			margin-bottom: 10px;
		}
	}
}

.slider-wrap {
	background-color: $color-aditional;
	padding: 20px 0 40px 0;
	.container {
		display: table;
		position: relative;
	}
}
.carousel-caption {
	// display: table-cell;
	// vertical-align: middle;
	position: absolute;
	top: 15%;
	left: 5%;
}
.slider-tittle {
	font-size: 400%;
	line-height: 1em;
	text-align: left;
	font-style: bold;
	width: 47%;
}
.carousel-indicators {
	top: 103%;
	right: none;
}
.icon-wrap {
	width: 40px;
	height: 40px;
	background-color: $color-brand;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	display: inline-block;
	img {
		
	}
}
.feature-tittle {
	display: inline-block;
	@extend .h2;
	text-transform: uppercase;
	margin-top: 0;
	.icon-wrap {
		margin-right: 15px;
	}
}
.feature-add-link {
	background: url(../images/link-arrow-right.svg) no-repeat 0 50%;
	display: block;
	margin-top: 15px;
	padding-left: 10px;
	color: $color-brand;
}
.adver-item {
	float: left;
	width: 33.33%;
	height: 101px;

	box-shadow: inset 0 0 25px #e8ebf1;
	text-align: center;
	line-height: 101px;
	img {
		

	}
}
.block-download {
	// display: table;
	margin: 35px 0;
	background-color: #e8fcfe;
	border: solid 1px $color-brand;
	padding: 35px;
	.lead {
		font-size: 16px;
		margin: 0;
	}
}
.btn-download {
	text-align: right;
	// display: table-cell;
	vertical-align: middle;
}
.footer p, .footer ul {
	// font-size: $font-size-large;
	// line-height: 0.9em;
}
.footer ul {
	list-style: none;
	margin-left: -40px;
	li {
		margin-bottom: 10px;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.crutch {
	padding-left: 17px;
}
.footer-bottom {
	margin-top: 40px;
}
.footer p.copyright {
	font-size: 13px;
	line-height: 1em;
}

.soc-icon {
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: 0 15px 10px 0;
	border-radius: 26px;
	border: solid 5px white;
	box-shadow: 1px 3px 5px gray;
	color: white;
	font-size: 1.8em;
	text-align: center;
	line-height: 45px;
}
.soc-icon-facebook {
	background-color: #3b5998;
}
.soc-icon-dribble {
	background-color: #ea4c89;
}
.soc-icon-pinterest {
	background-color: #cb2027;
}
.soc-icon-linkedin {
	background-color: #007bb6;
}
.soc-icon-skype {
	background-color: #00aff0;
}
.soc-icon-share {
	background-color: green;
}
.portfolio-nav-link-active {
	background: $color-aditional;
}
.portfolio-nav {
	list-style: none;
	display: block;
	li {
		display: inline-block;
		.portfolio-nav-link {
			font-size: 14px;
			padding: 10px 15px;
			text-align: center;
			color: black;
			&:hover {
				text-decoration: none;
				@extend .portfolio-nav-link-active;
			}
		}
	}
}