$color-overlay: gray;

.block {
	background-size: cover;
	background-position: 50% 50%;
	display: table;
	width: 100%;
	table-layout: fixed;
	&-header {
		display: table-header-group;
		height: 1%;
	}
	&-content {
		display: table-row-group;
	}
	&-footer {
		display: table-footer-group;
		height: 1%;
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
	}
	&-title {
		text-transform: uppercase;
		margin-top: 24px;
		margin-bottom: 15px;
		&-with-ico {
			background-size: 0;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 25px;
				height: 25px;
				margin-right: 19px;
				background-image: inherit;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	&-collapse {
		padding: 0;
	}
	&-fill-height {
		height: 100vh;
	}
	&-inverse {
		color: #fff !important;
	}
	&-overlay {
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-color: $color-overlay;
			opacity: 0.9;
		}
		&-header {
			background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
		}
		&-main:after {
			background-color: #eef1ec;
		}
	}
	&-separator-top,
	&-separator-bottom {
		border-width: 0;
		border-style: solid;
		border-color: #dfe1e5;
	}
	&-separator-top { border-top-width: 1px; }
	&-separator-bottom { border-bottom-width: 1px; }
	
	&-padding-top {
		&-xs{
			padding-top: 15px;
		}
		&-sm{
			padding-top: 30px;
		}
		&-md{
			padding-top: 40px;
		}
		&-lg{
			padding-top: 50px;
		}
		&-xlg{
			padding-top: 60px;
		}
	}

	&-padding-bottom {
		&-xs{
			padding-bottom: 15px;
		}
		&-sm{
			padding-bottom: 30px;
		}
		&-md{
			padding-bottom: 40px;
		}
		&-lg{
			padding-bottom: 50px;
		}
		&-xlg{
			padding-bottom: 60px;
		}
	}

	&-dark {
		background-color: $dark-color;
	}

}

.ul-menu {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-left: 25px;
		font-family: "Montserrat";
	}
}